<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Medical Logs</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>Log Your Daily Medical Information</h1>
    <p><a href="/login">Click here to Login</a> and view/add medical logs</p>
    <p>or</p>
    <p><a href="/signup">Click here to Signup</a> and create a new account</p>
</body>
</html>