/* ---------------------------------------------------- */
/* LAYOUT */
body {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 15px;
}

header {
    border: 1px solid gray;
    margin-bottom: 0px;
    width: 100%;
}

header h1,
h2 {
    text-align: center;
    color: rgb(52, 74, 202);
}
header h3 {
    text-align: center;
}

p {
    font-size: 1.4rem;
    margin: 10px;
    text-align: center;
}


/* ---------------------------------------------------- */
/* CREATE ACCOUNT FORM LAYOUT */
form {
    margin: 15px;
}


/* ---------------------------------------------------- */
/* ERROR MESSAGE LAYOUT */
.error {
    text-align: center;
    margin-bottom: 15px;
}
.alert {
    color: rgb(182, 20, 20);
    font-size: 1.1rem;
}