h1{
    color: red;
}
.completed{
    color: rgb(155, 155, 155);
}
.not{
    /* text-decoration: underline; */
}

.date {
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: bold;
}


table {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border: 3px solid purple;
}
thead th:nth-child(1) {
    width: 50%;
} 
thead th:nth-child(2) {
    width: 20%;
}
thead th:nth-child(3) {
    width: 20%;
}
thead th:nth-child(4) {
    width: 10%;
}
th, td {
    padding: 15px;
}
tr {
    border: 1px solid black;
}

/* .medLogItem span {
    display: block;
}
.medLogItem .date,
.medLogItem .del {
    display: inline;
} */


.logInputForm div {
    display: block;
    margin: 15px;
}
.numInput {
    width: 70px;
}